@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
	font-family: Ubuntu;
	background-color: #e8eff2;
	margin: 0;
	margin-bottom: 9vh;
	overflow-x: hidden;
}

.title {
	margin-top: 25vh;
	margin-bottom: 30vh;
	text-align: center;
	display: block;
}

.heading {
	text-align: center;
	margin-top: 10vh;
}

.hello {
	font-weight: bold;
	font-size: 500%;
	margin-bottom: 2vh;
}

.name {
	font-size: 250%;
}

.navb {
	background: linear-gradient(45deg, #d6faff, #d1daff);
	box-shadow: 0 1px 3px #a3a3a3;
	display: flex;
	padding-top: 3vh;
	padding-bottom: 3.5vh;
	width: 100vw;
	justify-content: space-evenly;
}

.navi {
	text-decoration: none;
	color: #0a0a0a;
	font-size: 160%;
	transition: .3s;
}

.navi:hover {
	transform: translateY(5px);
	text-decoration: underline;
	color: #1f3d84;
}

.text {
	margin-right: 0;
	margin-left: 0;
}

.info {
	font-size: 120%;
	text-align: center;
}

.row {
	display: flex;
	justify-content: space-around;
	width: 70%;
	margin: auto;
	margin-top: 3%;
}

.link {
	color: #04491e;
	transition: .3s;
	text-decoration: none;
	font-size: 200%;
}

.link:hover {
	color: #19ae52;
	text-decoration: underline;
}

.ltext {
	font-size: 150%;
	color: black;
	margin-bottom: 3vh;
}

.about-you {
	margin: auto;
	width: 60vw;
	margin-bottom: 20vh;
}

label {
	margin-top: 5vh;
}

.btn {
	margin-top: 5vh;
}

.response {
	margin: auto;
	margin-top: 15vh;
	width: 60vw;
	margin-bottom: 15vh;
	display: block;
	/* display: none; */
}

.resp {
	font-size: 140%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

button, input[type="submit"] {
    background-color: #e8eff2;
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 1rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

button:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color: #bfced4;
}

.user {
	background-color: whitesmoke;
	padding: 0.375rem 0.4rem;
	border: 1px solid #595959;
	border-radius: 0.4rem;
	margin-right: 3vw;
	transition: .15s;
}

.user:focus, button:focus {
	border-color: #449eca;
	outline: #46aee2;
	box-shadow: 0px 0px 0px 3px #a6d0f7;
}

.vid {
	margin: auto;
	margin-top: 9vh;
	width: 70vw;
	height: 70vh;
}

.feedback {
	display: none;
}